<% if current_user %>

<div class="jumbotron">
	<h1>Welcome to Sportsters Athletics</h1>
	<p class="tagline">Practice, practice, practice...do your best!!!</p>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="thumbnail">
      <i class="glyphicon glyphicon-list-alt"></i>
      <h2>News</h2>
		<ul>
			<li><%= link_to "New Stories", articles_path(status: "Publish", category: "News") %></li>
			<li><%= link_to "Recent scores", articles_path(status: "Publish", category: "Scores")  %></li>
			<li><%= link_to "Check out the schedule", articles_path(status: "Publish", category: "Schedule")  %></li>
		</ul>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="thumbnail">
      <i class="glyphicon glyphicon-user"></i>
      <h2>Profile</h2>
		<ul>
				<li><%= link_to "View User Details and Password", user_path(@user) %></li>
			<% if @profile == nil %>
				<li><%= link_to "Add Contact Details", new_profile_path %></li>
			<% else %>
				<li><%= link_to "View Contact Details", profile_path(@profile) %></li>
			<% end %>

			<li><%= link_to "Add a Participant", new_sportster_path %></li>
			<li>View Sportster Participant Details

				<ul>
				<% @sportsters.each do |sportster| %>
					<li><%= link_to sportster.first_name + " " + sportster.last_name, sportster %></li>
				<% end %>
				</ul>
			</li>
		</ul>

    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="thumbnail">
      <i class="glyphicon glyphicon-wrench"></i>
      <h2>Tools</h2>

		<%= form_tag('/sportsters', method:"get") do %>

		  Search Sportster: 
		  <%= select_tag(:field, options_for_select(["first_name","last_name","division"])) %> <br>
		  <%= text_field_tag :search_sportsters %>
		  <%= submit_tag "Search" %>
		<% end %><br>

		<table>
		  <tr>
		  	<th></th>
		    <th>First Name</th>
		    <th>Last Name</th>
		    <th>Division</th>
		  </tr>
		<% @sportsters_search.each do |sportster| %>
		  <tr>
		  	<td><%= link_to "View", sportster %></td>
		    <td><%= sportster.first_name %></td>
		    <td><%= sportster.last_name %></td>
		    <td><%= sportster.division %></td>
		  </tr>
		<% end %>
		</table>
    </div>
  </div>
</div>
<% else %>

<p>Sorry please login to enter the website.</p>

<% end %>