<h1>Sportster Participant</h1>

<div class="row">
	<div class="col-sm-3 col-md-3">
	</div>
	<div class="col-sm-6 col-md-6">
		<div class="thumbnail">
			<p><%= link_to "Edit", edit_sportster_path %></p>
			<p><%= link_to 'Delete', @sportster, method: :delete %></p>
			<h3><%= @sportster.first_name %> <%= @sportster.last_name %></h3>
			<%= image_tag @sportster.profile_image, size: "300" %>
			<p>Age: <%= @sportster.age %></p>
			<p>Birth Date: <%= @sportster.birth_date %></p>
			<p>Division: <%= @sportster.division %></p>
			<p>Shirt Size: <%= @sportster.shirt_size %></p>
			<p>Short Size: <%= @sportster.short_size %></p>

			<%= link_to "Back", sportsters_path %>
		</div>
	</div>
	<div class="col-sm-3 col-md-3">
	</div>
</div>

