<div class="container">
	<div class="well">
		<h2>Articles</h2>
	</div>
</div>
<div class="row">
	<div class="col-sm-3 col-md-2">
	</div>
	<div class="col-sm-6 col-md-8">
		<div class="thumbnail">
			
			<ul>
			<% @articles.each do |article| %>

				<li><strong><%= article.status %>:</strong> <%= link_to article.title, article %><br>
				 <%= article.category %> | <em><%= article.date_published %></em></li>

			<% end %>
			</ul>
			<br>
			<%= link_to "Back", sportsters_path, class: "btn btn-default" %> 
			<% if current_user.role == 'admin' %>
				<%= link_to "Create New Article", new_article_path, class: "btn btn-default" %>
				<%= link_to "Back to Admin", admins_path, class: "btn btn-default" %>
			<% end %>
		</div>
	</div>
	<div class="col-sm-3 col-md-2">
	</div>
</div>

