<div class="row">
	<div class="col-sm-3 col-md-2">
	</div>
	<div class="col-sm-6 col-md-8">
		<div class="thumbnail">

			<h2><%= @article.title %></h2>
			<p><em><%= @article.created_at.strftime("Published Date: %F") %></em></p>
			<p><%= simple_format(@article.body) %></p>

			<%= link_to 'Delete', @article, method: :delete, class: "btn btn-danger" %> 
			<%= link_to "Back", sportsters_path, class: "btn btn-default" %>
		</div>
	</div>
	<div class="col-sm-3 col-md-2">
	</div>
</div>

