<div class="row">
	<div class="container col-md-8 col-md-offset-2">
		<div class="well">
			<h2>Edit User</h2>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-3 col-md-2">
	</div>
	<div class="col-sm-6 col-md-8">
		<div class="thumbnail">
		<%= form_for(@user) do |f| %>
			<%= f.label :name, "First Name:" %><br>
			<%= f.text_field :first_name %><br>
			<%= f.label :name, "Last Name:" %><br>
			<%= f.text_field :last_name %><br>
			<%= f.label :name, "Email:" %><br>
			<%= f.text_field :email %><br><br>
			<%= f.label :name, "Password:" %><br>
			<%= f.password_field :password %><br>
			<%= f.label :name, "Confirm Password:" %><br>
			<%= f.password_field :password_confirmation %><br>

			<% if current_user.role == 'admin' %>
				<%= radio_button_tag(:role, "admin") %>
				<%= label_tag(:role_child, "Admin) %>
			<% end %>
			<br><br>
			<%= f.submit "Update User Detials", class: "btn btn-info" %>
			<%= link_to "Back", user_path, class: "btn btn-default" %>
		<% end %>
		</div>
	</div>
	<div class="col-sm-3 col-md-2">
	</div>
</div>