<h1>Sign Up</h1>

<ul>
<% @user.errors.full_messages.each do |message| %>
<li><%= message %></li>
<% end %>
</ul>

<%= form_for(@user) do |f| %>
	First Name:<br>
	<%= f.text_field :first_name %><br>
	Last Name:<br>
	<%= f.text_field :last_name %><br>
	Email:<br>
	<%= f.text_field :email %><br>
	Password:<br>
	<%= f.password_field :password %><br>
	Confirm Password:<br>
	<%= f.password_field :password_confirmation %><br>
	<%= f.submit "Sign Up" %>
<% end %>

