<div class="row">
	<div class="container col-md-8 col-md-offset-2">
		<div class="well">
			<h2>User Details</h2>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-3 col-md-2">
	</div>
	<div class="col-sm-6 col-md-8">
		<div class="thumbnail">
			First Name: <%= @user.first_name %><br>
			Last Name: <%= @user.last_name %><br>
			Email: <%= @user.email %><br>

			<%= link_to "Back", sportsters_path, class: "btn btn-default" %>
			<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-info" %> 
			<% if current_user.role == 'admin' %><%= link_to 'Delete', @user, method: :delete, class: "btn btn-danger" %> 
			<%= link_to "Back to Admin", admins_path, class: "btn btn-default" %><% end %>
		</div>
	</div>
	<div class="col-sm-3 col-md-2">
	</div>
</div>